body{
	background-image: linear-gradient(to right, white, blue, red, white);
}

.container { 
  background-color: rgba(255, 0, 0, 0);	
  color: white;
}

.table-content{
	text-align: center;
	font-weight: bold;
}

th,td{
	border: 0px !important;
}